.ui.borderless.menu.top-menu {
  box-shadow:none;
  border:none;
  background-color:#f7f7f7;
}

.ui.borderless.menu.bottom-menu {
  box-shadow:none;
  border:none;
}

.grey-background {
  padding: 30px 0 0 0;
  background-color: #1a1c1e;
  color:white;
  height:200px;
}
